# SAT model

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('sat.txt', sep = ' ')
data.head()

   high_GPA  math_SAT  verb_SAT  comp_GPA  univ_GPA
0      3.45       643       589      3.76      3.52
1      2.78       558       512      2.87      2.91
2      2.52       583       503      2.54      2.40
3      3.67       685       602      3.83      3.47
4      3.24       592       538      3.29      3.47

### Строим зависимость univ_GPA от high_GPA