In [43]:
import pandas as pd
import numpy as np
import seaborn as sns

from sklearn.linear_model import LogisticRegression

from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split

from sklearn.metrics import recall_score
from sklearn.metrics import confusion_matrix

In [44]:
data = pd.read_csv('adult.csv')
data

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

В данных много категорийных признаков, которые необходимо преобразовать для использования в модели

#### 1. Workclass

In [46]:
data['workclass'].value_counts()

Private             33906
Self-emp-not-inc     3862
Local-gov            3136
?                    2799
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: workclass, dtype: int64

In [47]:
# Заменим значения "?" на "UnknownWC"
def fix_workclass(row):
    if (row['workclass'] == '?'):
        return 'UnknownWC'
    else:
        return row['workclass']

        
data['workclass'] = data.apply(fix_workclass, axis=1)


data = pd.get_dummies( data, columns = [ 'workclass' ] )

#### 2. Education

In [48]:
data = pd.get_dummies( data, columns = [ 'education' ] )

#### 3. Marital-status

In [49]:
data = pd.get_dummies( data, columns = [ 'marital-status' ] )

#### 4.Occupation

In [50]:
data['occupation'].value_counts()

Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
?                    2809
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: occupation, dtype: int64

In [52]:
# Заменим значения "?" на "UnknownOcc"
def fix_occupation(row):
    if (row['occupation'] == '?'):
        return 'UnknownOcc'
    else:
        return row['occupation']

        
data['occupation'] = data.apply(fix_occupation, axis=1)

data = pd.get_dummies( data, columns = [ 'occupation'] )

#### 5.Relationship

In [54]:
data = pd.get_dummies( data, columns = [ 'relationship' ] )

#### 6.Race

In [57]:
data = pd.get_dummies( data, columns = [ 'race' ] )

#### 7.Gender

In [59]:
data = pd.get_dummies( data, columns = [ 'gender' ] )

#### 8.Native-country

In [61]:
data['native-country'].value_counts()

United-States                 43832
Mexico                          951
?                               857
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Nicaragua                        49
Greece                           49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Thailand                         30
Hong                             30
Cambodia                         28
Trinadad&Tobago                  27
Outlying-US(Guam-USVI-etc)       23
Laos                             23
Yugoslavia                       23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: native-country, dtype: int64

In [62]:
# У нас слишком много стран, для которых есть небольшое количество значений, что может помешать работе модели
# Сгруппируем страны в регионы с целью уменьшить число параметров при сохранении большей части информации
latam = ['Mexico', 'Puerto-Rico', 'El-Salvador', 'Cuba', 'Jamaica', 'Dominican-Republic', 'Guatemala', 'Columbia', 'Haiti', 'Nicaragua', 'Peru', 'Ecuador', 'Trinadad&Tobago', 'Honduras']
aspac = ['Philippines', 'India', 'China', 'Japan', 'Vietnam', 'Taiwan', 'Hong', 'Thailand', 'Cambodia', 'Laos', 'Iran']
w_europe = ['Germany', 'England', 'Italy', 'Portugal', 'France', 'Ireland', 'Scotland', 'Holand-Netherlands']
e_europe = ['Poland', 'Hungary', 'Greece', 'Yugoslavia']

def get_region(row):
    if row['native-country'] in latam:
        return 'LatAmerica'
    elif row['native-country'] in aspac:
        return 'Asia'
    elif row['native-country'] in w_europe:
        return 'WestEurope'
    elif row['native-country'] in e_europe:
        return 'EastEurope'
    elif row['native-country'] == '?':
        return 'UnknownReg'
    elif row['native-country'] == 'United-States':
        return 'US'
    elif row['native-country'] == 'Canada':
        return 'Canada'
    elif row['native-country'] == 'Outlying-US(Guam-USVI-etc)':
        return 'US'
    elif row['native-country'] == 'South':
        return 'South'

data['region'] = data.apply(get_region, axis=1)
data['region'].value_counts()

US            43855
LatAmerica     2072
Asia            981
UnknownReg      857
WestEurope      602
Canada          182
EastEurope      178
South           115
Name: region, dtype: int64

In [63]:
data = pd.get_dummies( data, columns = [ 'region' ] )

#### 9.Income

In [65]:
data['income'].value_counts()

<=50K    37155
>50K     11687
Name: income, dtype: int64

In [66]:
# Income - это наша целевая переменная, заменим ее на одно новое поле
def get_income(row):
    if row['income'] == '>50K':
        return 1
    else:
        return 0
data['high_income'] = data.apply(get_income, axis=1)
data.drop(['income'], axis=1, inplace=True)

In [67]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 76 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   age                                   48842 non-null  int64
 1   fnlwgt                                48842 non-null  int64
 2   educational-num                       48842 non-null  int64
 3   capital-gain                          48842 non-null  int64
 4   capital-loss                          48842 non-null  int64
 5   hours-per-week                        48842 non-null  int64
 6   native-country                        48842 non-null  object
 7   workclass_Federal-gov                 48842 non-null  uint8
 8   workclass_Local-gov                   48842 non-null  uint8
 9   workclass_Never-worked                48842 non-null  uint8
 10  workclass_Private                     48842 non-null  uint8
 11  workclass_Self-emp-inc                48842 non-null  uint8
 12  workclass_Self-emp-not-inc            48842 non-null  uint8
 13  workclass_State-gov                   48842 non-null  uint8
 14  workclass_UnknownWC                   48842 non-null  uint8
 15  workclass_Without-pay                 48842 non-null  uint8
 16  education_10th                        48842 non-null  uint8
 17  education_11th                        48842 non-null  uint8
 18  education_12th                        48842 non-null  uint8
 19  education_1st-4th                     48842 non-null  uint8
 20  education_5th-6th                     48842 non-null  uint8
 21  education_7th-8th                     48842 non-null  uint8
 22  education_9th                         48842 non-null  uint8
 23  education_Assoc-acdm                  48842 non-null  uint8
 24  education_Assoc-voc                   48842 non-null  uint8
 25  education_Bachelors                   48842 non-null  uint8
 26  education_Doctorate                   48842 non-null  uint8
 27  education_HS-grad                     48842 non-null  uint8
 28  education_Masters                     48842 non-null  uint8
 29  education_Preschool                   48842 non-null  uint8
 30  education_Prof-school                 48842 non-null  uint8
 31  education_Some-college                48842 non-null  uint8
 32  marital-status_Divorced               48842 non-null  uint8
 33  marital-status_Married-AF-spouse      48842 non-null  uint8
 34  marital-status_Married-civ-spouse     48842 non-null  uint8
 35  marital-status_Married-spouse-absent  48842 non-null  uint8
 36  marital-status_Never-married          48842 non-null  uint8
 37  marital-status_Separated              48842 non-null  uint8
 38  marital-status_Widowed                48842 non-null  uint8
 39  occupation_Adm-clerical               48842 non-null  uint8
 40  occupation_Armed-Forces               48842 non-null  uint8
 41  occupation_Craft-repair               48842 non-null  uint8
 42  occupation_Exec-managerial            48842 non-null  uint8
 43  occupation_Farming-fishing            48842 non-null  uint8
 44  occupation_Handlers-cleaners          48842 non-null  uint8
 45  occupation_Machine-op-inspct          48842 non-null  uint8
 46  occupation_Other-service              48842 non-null  uint8
 47  occupation_Priv-house-serv            48842 non-null  uint8
 48  occupation_Prof-specialty             48842 non-null  uint8
 49  occupation_Protective-serv            48842 non-null  uint8
 50  occupation_Sales                      48842 non-null  uint8
 51  occupation_Tech-support               48842 non-null  uint8
 52  occupation_Transport-moving           48842 non-null  uint8
 53  occupation_UnknownOcc                 48842 non-null  uint8
 54  relationship_Husband                  48842 non-null  uint8
 55  relationship_Not-in-family            48842 non-null  uint8
 56  relationship_Other-relative           48842 non-null  uint8
 57  relationship_Own-child                48842 non-null  uint8
 58  relationship_Unmarried                48842 non-null  uint8
 59  relationship_Wife                     48842 non-null  uint8
 60  race_Amer-Indian-Eskimo               48842 non-null  uint8
 61  race_Asian-Pac-Islander               48842 non-null  uint8
 62  race_Black                            48842 non-null  uint8
 63  race_Other                            48842 non-null  uint8
 64  race_White                            48842 non-null  uint8
 65  gender_Female                         48842 non-null  uint8
 66  gender_Male                           48842 non-null  uint8
 67  region_Asia                           48842 non-null  uint8
 68  region_Canada                         48842 non-null  uint8
 69  region_EastEurope                     48842 non-null  uint8
 70  region_LatAmerica                     48842 non-null  uint8
 71  region_South                          48842 non-null  uint8
 72  region_US                             48842 non-null  uint8
 73  region_UnknownReg                     48842 non-null  uint8
 74  region_WestEurope                     48842 non-null  uint8
 75  high_income                           48842 non-null  int64
dtypes: int64(7), object(1), uint8(68)
memory usage: 6.1+ MB